*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  padding: 2rem; }

.nav {
  max-width: 1440px;
  padding: 3rem 0;
  display: grid;
  grid-template-columns: min-content 1fr min-content min-content;
  grid-column-gap: 4rem;
  align-items: center;
  border-bottom: 1px solid rgba(182, 188, 200, 0.2); }
  .nav__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, min-content);
    grid-column-gap: 2rem; }
  .nav__link, .nav__visited {
    color: #b6bcc8;
    text-decoration: none;
    font-size: 1.4rem; }
  .nav__btn {
    border: none;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer; }
    .nav__btn-cart {
      height: 1.8rem;
      display: block; }
    .nav__btn-avatar {
      height: 4.4rem;
      width: 4.4rem;
      display: block; }

.main {
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 720px));
  grid-column-gap: 6rem;
  align-items: center; }
  .main__pictures {
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 3rem; }
    .main__pictures--large {
      grid-row: 1 / 5;
      grid-column: 1 / -1; }
    .main__pictures--thumb {
      border-radius: 1.2rem;
      border: 2px solid transparent; }
    .main__pictures--thumb-1 {
      grid-row: 5 / 6;
      grid-column: 1 / 2; }
    .main__pictures--thumb-2 {
      grid-row: 5 / 6;
      grid-column: 2 / 3; }
    .main__pictures--thumb-3 {
      grid-row: 5 / 6;
      grid-column: 3 / 4; }
    .main__pictures--thumb-4 {
      grid-row: 5 / 6;
      grid-column: 4 / 5; }
  .main__img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }
  .main__text {
    width: 85%;
    padding: 4rem;
    display: grid;
    grid-gap: 3rem; }
    .main__text--heading-2 {
      font-size: 4.5rem; }
    .main__text--heading-3 {
      color: #ff7d1a;
      font-size: 1.5rem;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      filter: opacity(0.8); }
    .main__text--description {
      color: #68707d;
      font-size: 1.6rem;
      line-height: 1.5; }
    .main__text--price {
      font-size: 2.6rem;
      display: flex;
      align-items: center; }
    .main__text--price-slash {
      color: #b6bcc8;
      font-size: 1.6rem;
      text-decoration: line-through;
      transform: translateY(-20px);
      font-weight: 400; }
    .main__text--price-disc {
      color: #ff7d1a;
      background-color: #ffede0;
      padding: 0.2rem 0.7rem;
      border-radius: 0.5rem;
      font-size: 1.5rem;
      margin-left: 1.5rem;
      filter: opacity(0.8); }
    .main__text--cart-button {
      background-color: #ff7d1a;
      padding: 1.5rem 2rem;
      border: none;
      border-radius: 1rem;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 2rem 4rem rgba(255, 125, 26, 0.3);
      flex: 1;
      cursor: pointer; }
      .main__text--cart-button--img {
        fill: white;
        height: 1.5rem;
        margin-right: 1rem; }
      .main__text--cart-button--text {
        font-size: 1.4rem;
        font-weight: 700; }

.counter {
  padding: 1.6rem 1.2rem;
  border-radius: 1rem;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f8fd;
  margin-right: 1.5rem; }
  .counter__label {
    font-size: 1.5rem; }
  .counter__btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer; }

.filter-white {
  filter: invert(100%) sepia(3%) saturate(632%) hue-rotate(215deg) brightness(112%) contrast(102%); }

.filter-gray {
  filter: invert(47%) sepia(8%) saturate(629%) hue-rotate(180deg) brightness(89%) contrast(87%); }

.counter-cart-wrapper {
  transform: translateY(-2rem);
  display: flex;
  justify-content: space-between; }

.active {
  border-color: #ff7d1a; }

.active-img {
  filter: opacity(0.35); }

.footer {
  margin-top: 5rem;
  color: #68707d;
  font-size: 1.5rem; }
  .footer a {
    text-decoration: none; }
  .footer a:link,
  .footer a:visited {
    color: #ff7d1a; }
  .footer a:hover {
    border-bottom: 1px solid #ff7d1a; }

.container {
  width: 14.4rem;
  min-width: 100%;
  display: grid;
  justify-content: center; }
