*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  padding: 0 5rem; }
  @media only screen and (max-width: 43.75em) {
    body {
      padding: 0 2.5rem; } }
  @media only screen and (max-width: 23.4375em) {
    body {
      padding: 0; } }

.nav {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: min-content 1fr min-content min-content;
  grid-column-gap: 4rem;
  align-items: center;
  border-bottom: 1px solid rgba(182, 188, 200, 0.2);
  z-index: 10;
  background-color: white; }
  @media only screen and (max-width: 43.75em) {
    .nav {
      grid-column-gap: 2rem; } }
  @media only screen and (max-width: 23.4375em) {
    .nav {
      padding: 2rem; } }
  .nav__list {
    height: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, min-content);
    grid-column-gap: 3rem;
    align-content: center; }
    @media only screen and (max-width: 43.75em) {
      .nav__list {
        display: none; } }
  .nav__underline {
    border-bottom: 4px solid transparent;
    transform: translateY(4.2rem);
    transition: all 0.2s;
    width: 110%; }
  .nav__item:hover > .nav__underline {
    border-bottom: 4px solid #ff7d1a; }
  .nav__link, .nav__visited {
    color: #68707d;
    text-decoration: none;
    font-size: 1.4rem;
    transition: all 0.2s; }
    .nav__link:hover, .nav__visited:hover {
      color: #1d2025; }
  .nav__menu {
    display: none; }
    @media only screen and (max-width: 43.75em) {
      .nav__menu {
        display: block; } }
  .nav__btn {
    position: relative;
    border: none;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
    z-index: 50; }
    .nav__btn-cart {
      height: 1.9rem;
      display: block;
      filter: invert(47%) sepia(8%) saturate(629%) hue-rotate(180deg) brightness(89%) contrast(87%); }
      @media only screen and (max-width: 43.75em) {
        .nav__btn-cart {
          height: 2.5rem;
          filter: invert(0%) sepia(6%) saturate(7500%) hue-rotate(328deg) brightness(103%) contrast(106%); } }
    .nav__btn-notif {
      position: absolute;
      top: -0.5rem;
      right: -0.6rem;
      color: white;
      font-size: 0.8rem;
      background-color: #ff7d1a;
      padding: 0.2rem 0.75rem;
      border-radius: 45%;
      visibility: hidden;
      opacity: 0;
      transition: all 0.2s;
      z-index: 10; }
      @media only screen and (max-width: 23.4375em) {
        .nav__btn-notif {
          font-size: 1.2rem;
          padding: 0.15rem 0.8rem;
          top: -0.8rem; } }
    .nav__btn-avatar {
      height: 4.6rem;
      width: 4.6rem;
      display: block;
      border-radius: 50%;
      border: 2px solid transparent;
      transition: all 0.2s; }
      .nav__btn-avatar:hover {
        border-color: #ff7d1a; }

.main {
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 720px));
  grid-column-gap: 6rem;
  align-items: center;
  justify-items: center; }
  @media only screen and (max-width: 56.25em) {
    .main {
      grid-template-columns: 1fr;
      padding: 3rem 1.5rem; } }
  @media only screen and (max-width: 43.75em) {
    .main {
      padding: 2rem 1rem; } }
  @media only screen and (max-width: 23.4375em) {
    .main {
      padding: 0;
      transform: translateY(-4.5rem); } }
  .main__pictures {
    width: 90%;
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 3rem; }
    @media only screen and (max-width: 78.125em) {
      .main__pictures {
        padding: 1rem; } }
    @media only screen and (max-width: 62.5em) {
      .main__pictures {
        padding: 0.5rem; } }
    @media only screen and (max-width: 56.25em) {
      .main__pictures {
        padding: 0rem; } }
    @media only screen and (max-width: 23.4375em) {
      .main__pictures {
        width: 100%;
        padding: 0;
        grid-gap: 0;
        grid-template-rows: repeat(4, 1fr); } }
    .main__pictures--large {
      grid-row: 1 / 5;
      grid-column: 1 / -1;
      position: relative;
      border: 2px solid transparent;
      cursor: pointer;
      transition: all 0.2s; }
      .main__pictures--large:hover {
        filter: opacity(0.5); }
      @media only screen and (max-width: 23.4375em) {
        .main__pictures--large {
          border: 0;
          cursor: default; }
          .main__pictures--large:hover {
            filter: opacity(1); } }
    .main__pictures--thumb {
      border-radius: 1.2rem;
      border: 2px solid transparent;
      cursor: pointer;
      transition: all 0.2s; }
      .main__pictures--thumb:hover:not(.active) {
        filter: opacity(0.5); }
      @media only screen and (max-width: 23.4375em) {
        .main__pictures--thumb {
          border: 0;
          display: none; } }
    .main__pictures--thumb-1 {
      grid-row: 5 / 6;
      grid-column: 1 / 2; }
    .main__pictures--thumb-2 {
      grid-row: 5 / 6;
      grid-column: 2 / 3; }
    .main__pictures--thumb-3 {
      grid-row: 5 / 6;
      grid-column: 3 / 4; }
    .main__pictures--thumb-4 {
      grid-row: 5 / 6;
      grid-column: 4 / 5; }
  .main__icon {
    height: 1.75rem;
    position: absolute;
    cursor: pointer;
    visibility: hidden; }
    @media only screen and (max-width: 23.4375em) {
      .main__icon {
        visibility: visible; } }
    .main__icon:hover {
      filter: invert(51%) sepia(81%) saturate(1386%) hue-rotate(347deg) brightness(102%) contrast(103%); }
    .main__icon--next {
      right: 1.7rem; }
    .main__icon--previous {
      left: 1.7rem; }
    .main__icon-holder {
      position: absolute;
      background-color: white;
      padding: 2.5rem;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      visibility: hidden; }
      @media only screen and (max-width: 23.4375em) {
        .main__icon-holder {
          visibility: visible; } }
      .main__icon-holder:hover > img {
        filter: invert(51%) sepia(81%) saturate(1386%) hue-rotate(347deg) brightness(102%) contrast(103%); }
      .main__icon-holder--next {
        top: 45%;
        right: 1.5rem; }
      .main__icon-holder--previous {
        top: 45%;
        left: 1.5rem; }
  .main__img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }
    @media only screen and (max-width: 23.4375em) {
      .main__img {
        border-radius: 0; } }
  .main__text {
    background-color: white;
    width: 90%;
    padding: 4rem;
    display: grid;
    grid-gap: 3rem;
    z-index: 5; }
    @media only screen and (max-width: 78.125em) {
      .main__text {
        padding: 1rem; } }
    @media only screen and (max-width: 62.5em) {
      .main__text {
        padding: 0.5rem; } }
    @media only screen and (max-width: 56.25em) {
      .main__text {
        padding: 3rem 0.5rem; } }
    @media only screen and (max-width: 23.4375em) {
      .main__text {
        transform: translateY(-4rem);
        width: 100%;
        padding: 3rem 2.5rem;
        grid-gap: 1.7rem; } }
    .main__text--heading-2 {
      font-size: 4.5rem; }
      @media only screen and (max-width: 23.4375em) {
        .main__text--heading-2 {
          font-size: 3.5rem; } }
    .main__text--heading-3 {
      color: #ff7d1a;
      font-size: 1.5rem;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      filter: opacity(0.8); }
    .main__text--description {
      color: #68707d;
      font-size: 1.6rem;
      line-height: 1.5; }
      @media only screen and (max-width: 23.4375em) {
        .main__text--description {
          font-size: 1.9rem;
          margin-bottom: 1rem;
          line-height: 1.8; } }
    .main__text--price {
      font-size: 2.6rem;
      display: flex;
      align-items: center; }
      @media only screen and (max-width: 23.4375em) {
        .main__text--price {
          font-size: 3rem;
          letter-spacing: 0.05rem; } }
    .main__text--price-slash {
      color: #b6bcc8;
      font-size: 1.6rem;
      font-weight: 400;
      text-decoration: line-through; }
      @media only screen and (max-width: 23.4375em) {
        .main__text--price-slash {
          font-size: 2rem;
          font-weight: 700;
          letter-spacing: 0.05rem; } }
    .main__text--price-disc {
      color: #ff7d1a;
      background-color: #ffede0;
      padding: 0.2rem 0.7rem;
      border-radius: 0.5rem;
      font-size: 1.5rem;
      margin-left: 1.5rem;
      filter: opacity(0.8); }
      @media only screen and (max-width: 23.4375em) {
        .main__text--price-disc {
          font-size: 1.9rem; } }
    .main__text--cart-button {
      background-color: #ff7d1a;
      padding: 1.5rem 2rem;
      border: none;
      border-radius: 1rem;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 1rem 2rem rgba(255, 125, 26, 0.3);
      flex: 1;
      cursor: pointer;
      transition: all 0.2s; }
      .main__text--cart-button--img {
        fill: white;
        height: 1.5rem;
        margin-right: 1rem; }
      .main__text--cart-button--text {
        font-size: 1.4rem;
        font-weight: 700; }
        @media only screen and (max-width: 23.4375em) {
          .main__text--cart-button--text {
            font-size: 2rem; } }
      .main__text--cart-button:hover {
        filter: opacity(0.75); }
      .main__text--cart-button:active {
        transform: translateY(2px);
        box-shadow: 0 1rem 2rem rgba(255, 125, 26, 0.2); }
      @media only screen and (max-width: 23.4375em) {
        .main__text--cart-button {
          margin-top: 2rem;
          padding: 2.5rem 2rem; } }

.counter {
  padding: 1.6rem 1.2rem;
  border-radius: 1rem;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f8fd;
  margin-right: 1.5rem; }
  @media only screen and (max-width: 23.4375em) {
    .counter {
      width: 100%;
      padding: 2.5rem 1.5em; } }
  .counter__label {
    font-size: 1.5rem; }
    @media only screen and (max-width: 23.4375em) {
      .counter__label {
        font-size: 2rem; } }
  .counter__btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s; }
    .counter__btn:hover {
      filter: opacity(0.5); }

.footer {
  margin-top: 5rem;
  color: #68707d;
  font-size: 1.5rem; }
  @media only screen and (max-width: 23.4375em) {
    .footer {
      margin-top: 1rem;
      padding: 1rem; } }
  .footer a {
    position: relative;
    text-decoration: none; }
    .footer a:link, .footer a:visited {
      color: #ff7d1a;
      transition: all 0.2s; }
  .footer a::before {
    content: "";
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ff7d1a;
    transform-origin: center;
    transform: scaleX(0);
    transition: all 0.3s; }
  .footer a:hover::before {
    content: "";
    position: absolute;
    top: 2rem;
    left: 0;
    height: 1px;
    transform: scaleX(1);
    background-color: #ff7d1a; }

.cart {
  padding: 0.6rem 2rem;
  height: 17rem;
  width: 28rem;
  position: absolute;
  top: 5rem;
  right: -13em;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  z-index: 60;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s; }
  @media only screen and (max-width: 43.75em) {
    .cart {
      right: -5rem; } }
  @media only screen and (max-width: 23.4375em) {
    .cart {
      top: 7rem;
      right: -7.75rem;
      width: 45rem;
      height: 32rem;
      border-radius: 1rem;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2); } }
  .cart__content {
    height: 100%;
    position: relative; }
  .cart__heading {
    width: 120%;
    font-size: 1.2rem;
    padding: 1.2rem 2rem;
    border-bottom: 2px solid #f7f8fd;
    transform: translateX(-2rem); }
    @media only screen and (max-width: 23.4375em) {
      .cart__heading {
        font-size: 2rem;
        padding: 2.5rem 2rem; } }
  .cart__img {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 0.5rem; }
    @media only screen and (max-width: 23.4375em) {
      .cart__img {
        height: 6rem;
        width: 6rem; } }
  .cart__details {
    height: 100%;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (max-width: 23.4375em) {
      .cart__details {
        margin-top: 3rem;
        flex: 1;
        justify-content: flex-start;
        margin-bottom: 2rem; } }
  .cart__text {
    font-size: 1.3rem;
    color: #68707d; }
    @media only screen and (max-width: 23.4375em) {
      .cart__text {
        font-size: 2rem;
        width: 100%;
        margin-left: 2rem; } }
  .cart__desc {
    margin-bottom: 0.3rem;
    display: flex; }
    @media only screen and (max-width: 23.4375em) {
      .cart__desc {
        text-overflow: ellipsis;
        flex-wrap: nowrap;
        margin-bottom: 0.6rem; } }
  .cart__price {
    letter-spacing: 0.05rem; }
  .cart__total {
    font-weight: 700;
    color: #1d2025;
    margin-left: 0.5rem;
    letter-spacing: 0.05rem; }
  .cart__trash {
    border: none;
    cursor: pointer;
    background-color: transparent; }
    .cart__trash-icon {
      height: 1.3rem; }
      @media only screen and (max-width: 23.4375em) {
        .cart__trash-icon {
          height: 2rem; } }
  .cart__checkout {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 1.5rem;
    padding: 1.3rem 0;
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    color: white;
    background-color: #ff7d1a;
    cursor: pointer; }
    @media only screen and (max-width: 23.4375em) {
      .cart__checkout {
        border-radius: 1rem;
        font-size: 2rem;
        padding: 2.5rem 2rem; } }
  .cart__empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #b6bcc8;
    font-weight: 700; }
    @media only screen and (max-width: 23.4375em) {
      .cart__empty {
        font-size: 2rem;
        color: #68707d; } }
  .cart__active {
    visibility: hidden; }

.litebox {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0; }
  @media only screen and (max-width: 23.4375em) {
    .litebox {
      display: none; } }
  .litebox__backdrop {
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 1100;
    opacity: 0.75;
    transition: all 0.3s; }
  .litebox__content {
    position: absolute;
    z-index: 1200;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .litebox__img--large {
    height: 60vh;
    border-radius: 1.5rem; }
  .litebox__img-box {
    margin-top: 4rem;
    width: 65%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-content: center;
    grid-gap: 3rem; }
  .litebox__img--thumb {
    height: 100%;
    width: 100%; }
  .litebox__large-box {
    position: relative; }
  .litebox__icon {
    position: absolute;
    cursor: pointer; }
    .litebox__icon:hover {
      filter: invert(51%) sepia(81%) saturate(1386%) hue-rotate(347deg) brightness(102%) contrast(103%); }
    .litebox__icon--close {
      height: 2.1rem;
      top: -4rem;
      right: 0; }
    .litebox__icon--next {
      right: 2.2rem; }
    .litebox__icon--previous {
      left: 2.2rem; }
    .litebox__icon-holder {
      position: absolute;
      background-color: white;
      padding: 3rem;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer; }
      .litebox__icon-holder:hover > img {
        filter: invert(51%) sepia(81%) saturate(1386%) hue-rotate(347deg) brightness(102%) contrast(103%); }
      .litebox__icon-holder--next {
        top: 45%;
        right: -2.8rem; }
      .litebox__icon-holder--previous {
        top: 45%;
        left: -2.8rem; }
  .litebox__thumb-holder {
    border-radius: 1rem;
    border: 2px solid transparent;
    cursor: pointer;
    overflow: hidden; }
    .litebox__thumb-holder:hover:not(.litebox-active) {
      background-color: white;
      border: 0;
      transform: scale(0.965); }
  .litebox__img--thumb {
    transition: all 0.3s; }
    .litebox__img--thumb:hover:not(.litebox-active-img) {
      filter: opacity(0.5); }

.menu {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s; }
  .menu__list {
    background-color: white;
    width: 70%;
    height: 100%;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 2.7rem;
    font-size: 2.3rem; }
  .menu__link:link, .menu__link:visited {
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    color: #1d2025; }
  .menu__link:not(:last-child) {
    margin-bottom: 3rem; }
  .menu__close {
    height: 2rem;
    width: 2rem;
    margin-bottom: 6rem; }
  .menu__backdrop {
    height: 100%;
    width: 100%;
    background-color: black;
    filter: opacity(0.75);
    z-index: 99; }

.filter-white {
  filter: invert(100%) sepia(3%) saturate(632%) hue-rotate(215deg) brightness(112%) contrast(102%); }

.filter-gray {
  filter: invert(47%) sepia(8%) saturate(629%) hue-rotate(180deg) brightness(89%) contrast(87%); }

.filter-primary {
  filter: invert(51%) sepia(81%) saturate(1386%) hue-rotate(347deg) brightness(102%) contrast(103%); }

.counter-cart-wrapper {
  transform: translateY(-2rem);
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 23.4375em) {
    .counter-cart-wrapper {
      flex-direction: column; } }

.cart-wrapper {
  position: relative; }

.cart-price-wrapper {
  display: flex; }

.main-price-wrapper {
  display: grid;
  grid-template-rows: repeat(2, 1fr); }
  @media only screen and (max-width: 23.4375em) {
    .main-price-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 3rem; } }

.active,
.litebox-active {
  border-color: #ff7d1a; }

.active-img,
.litebox-active-img {
  filter: opacity(0.35); }

.litebox-active-figure {
  background-color: white; }

.close-backdrop {
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  z-index: 5;
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden; }

.container {
  width: 14.4rem;
  min-width: 100%;
  display: grid;
  justify-content: center;
  max-width: 14.4rem; }
  @media only screen and (max-width: 23.4375em) {
    .container {
      width: 100%; } }
