//////////////////////////////////
// NAVIGATION BAR
.nav {
   padding: 3rem 0;
   display: grid;
   grid-template-columns: min-content 1fr min-content min-content;
   grid-column-gap: 4rem;
   align-items: center;
   border-bottom: 1px solid rgba($color-gray-blue, 0.2);
   z-index: 10;
   background-color: $color-white;

   @media only screen and (max-width: 43.75em) {
      // 700px
      grid-column-gap: 2rem;
   }

   @media only screen and (max-width: 23.4375em) {
      padding: 2rem;
   }

   &__list {
      height: 100%;
      list-style: none;

      display: grid;
      grid-template-columns: repeat(5, min-content);
      grid-column-gap: 3rem;
      align-content: center;

      @media only screen and (max-width: 43.75em) {
         // 700px
         display: none;
      }
   }

   &__underline {
      border-bottom: 4px solid transparent;
      transform: translateY(4.2rem);
      transition: all 0.2s;
      width: 110%;
   }

   &__item {
      &:hover > .nav__underline {
         border-bottom: 4px solid $color-primary;
      }
   }

   &__link,
   &__visited {
      color: $color-dark-gray-blue;
      text-decoration: none;
      font-size: 1.4rem;
      transition: all 0.2s;

      &:hover {
         color: $color-dark-blue;
      }
   }

   &__menu {
      display: none;

      @media only screen and (max-width: 43.75em) {
         // 700px
         display: block;
      }
   }

   &__btn {
      position: relative;
      border: none;
      border-radius: 0;
      background-color: transparent;
      cursor: pointer;
      z-index: 50;

      &-cart {
         height: 1.9rem;
         display: block;
         filter: invert(47%) sepia(8%) saturate(629%) hue-rotate(180deg)
            brightness(89%) contrast(87%);

         @media only screen and (max-width: 43.75em) {
            // 700px
            height: 2.5rem;
            filter: invert(0%) sepia(6%) saturate(7500%) hue-rotate(328deg)
               brightness(103%) contrast(106%);
         }
      }

      &-notif {
         position: absolute;
         top: -0.5rem;
         right: -0.6rem;
         color: $color-white;
         font-size: 0.8rem;
         background-color: $color-primary;
         padding: 0.2rem 0.75rem;
         border-radius: 45%;
         visibility: hidden;
         opacity: 0;
         transition: all 0.2s;
         z-index: 10;
      }

      &-avatar {
         height: 4.6rem;
         width: 4.6rem;
         display: block;
         border-radius: 50%;
         border: 2px solid transparent;
         transition: all 0.2s;

         &:hover {
            border-color: $color-primary;
         }
      }
   }
}

//////////////////////////////////
// MAIN CONTENT
.main {
   padding: 4rem 2rem;
   display: grid;
   grid-template-columns: repeat(2, minmax(min-content, 720px));
   grid-column-gap: 6rem;
   align-items: center;
   justify-items: center;

   @media only screen and (max-width: 56.25em) {
      grid-template-columns: 1fr;
      padding: 3rem 1.5rem;
   }

   @media only screen and (max-width: 43.75em) {
      padding: 2rem 1rem;
   }

   @media only screen and (max-width: 23.4375em) {
      padding: 0;
      transform: translateY(-4.5rem);
   }

   &__pictures {
      width: 90%;
      padding: 4rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-gap: 3rem;

      @media only screen and (max-width: 78.125em) {
         padding: 1rem;
      }

      @media only screen and (max-width: 62.5em) {
         padding: 0.5rem;
      }

      @media only screen and (max-width: 56.25em) {
         padding: 0rem;
      }

      @media only screen and (max-width: 23.4375em) {
         width: 100%;
         padding: 0;
         grid-gap: 0;
         grid-template-rows: repeat(4, 1fr);
      }

      &--large {
         grid-row: 1 / 5;
         grid-column: 1 / -1;

         border: 2px solid transparent;
         cursor: pointer;
         transition: all 0.2s;

         &:hover {
            filter: opacity(0.5);
         }

         @media only screen and (max-width: 23.4375em) {
            border: 0;
            cursor: default;
         }
      }

      &--thumb {
         border-radius: 1.2rem;
         border: 2px solid transparent;
         cursor: pointer;
         transition: all 0.2s;

         &:hover:not(.active) {
            filter: opacity(0.5);
         }

         @media only screen and (max-width: 23.4375em) {
            border: 0;
            display: none;
         }
      }

      &--thumb-1 {
         grid-row: 5 / 6;
         grid-column: 1 / 2;
      }

      &--thumb-2 {
         grid-row: 5 / 6;
         grid-column: 2 / 3;
      }

      &--thumb-3 {
         grid-row: 5 / 6;
         grid-column: 3 / 4;
      }

      &--thumb-4 {
         grid-row: 5 / 6;
         grid-column: 4 / 5;
      }
   }

   &__img {
      border-radius: 1rem;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;

      @media only screen and (max-width: 23.4375em) {
         border-radius: 0;
      }
   }

   &__text {
      background-color: $color-white;
      width: 90%;
      padding: 4rem;
      display: grid;
      grid-gap: 3rem;
      z-index: 5;

      @media only screen and (max-width: 78.125em) {
         padding: 1rem;
      }

      @media only screen and (max-width: 62.5em) {
         padding: 0.5rem;
      }

      @media only screen and (max-width: 56.25em) {
         padding: 3rem 0.5rem;
      }

      @media only screen and (max-width: 23.4375em) {
         transform: translateY(-4rem);
         width: 100%;
         padding: 3rem 2.5rem;
         grid-gap: 1.7rem;
      }

      &--heading-2 {
         font-size: 4.5rem;

         @media only screen and (max-width: 23.4375em) {
            font-size: 3.5rem;
         }
      }

      &--heading-3 {
         color: $color-primary;
         font-size: 1.5rem;
         text-transform: uppercase;
         letter-spacing: 0.2rem;
         filter: opacity(0.8);
      }

      &--description {
         color: $color-dark-gray-blue;
         font-size: 1.6rem;
         line-height: 1.5;

         @media only screen and (max-width: 23.4375em) {
            font-size: 1.9rem;
         }
      }

      &--price {
         font-size: 2.6rem;
         display: flex;
         align-items: center;

         @media only screen and (max-width: 23.4375em) {
            font-size: 3rem;
            letter-spacing: 0.05rem;
         }
      }

      &--price-slash {
         color: $color-gray-blue;
         font-size: 1.6rem;
         font-weight: 400;
         text-decoration: line-through;

         @media only screen and (max-width: 23.4375em) {
            font-size: 2rem;
            font-weight: 700;
            letter-spacing: 0.05rem;
         }
      }

      &--price-disc {
         color: $color-primary;
         background-color: $color-primary-light;
         padding: 0.2rem 0.7rem;
         border-radius: 0.5rem;
         font-size: 1.5rem;
         margin-left: 1.5rem;
         filter: opacity(0.8);

         @media only screen and (max-width: 23.4375em) {
            font-size: 1.9rem;
         }
      }

      &--cart-button {
         background-color: $color-primary;
         padding: 1.5rem 2rem;
         border: none;
         border-radius: 1rem;
         // width: 50%;
         color: $color-white;
         display: flex;
         align-items: center;
         justify-content: center;
         box-shadow: 0 1rem 2rem rgba($color-primary, 0.3);
         flex: 1;
         cursor: pointer;
         transition: all 0.2s;

         &--img {
            fill: $color-white;
            height: 1.5rem;
            margin-right: 1rem;
         }

         &--text {
            font-size: 1.4rem;
            font-weight: 700;

            @media only screen and (max-width: 23.4375em) {
               font-size: 2rem;
            }
         }

         &:hover {
            filter: opacity(0.75);
         }
         &:active {
            transform: translateY(2px);
            box-shadow: 0 1rem 2rem rgba($color-primary, 0.2);
         }

         @media only screen and (max-width: 23.4375em) {
            margin-top: 2rem;
            padding: 2.5rem 2rem;
         }
      }
   }
}

.counter {
   padding: 1.6rem 1.2rem;
   border-radius: 1rem;
   width: 35%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: $color-gray-blue-light;
   margin-right: 1.5rem;

   @media only screen and (max-width: 23.4375em) {
      width: 100%;
      padding: 2.5rem 1.5em;
   }

   &__label {
      font-size: 1.5rem;

      @media only screen and (max-width: 23.4375em) {
         font-size: 2rem;
      }
   }

   &__btn {
      display: flex;
      align-items: center;
      border: none;
      background-color: transparent;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
         filter: opacity(0.5);
      }
   }
}

//////////////////////////////////
// FOOTER
.footer {
   margin-top: 5rem;
   color: $color-dark-gray-blue;
   font-size: 1.5rem;

   @media only screen and (max-width: 23.4375em) {
      margin-top: 1rem;
      padding: 1rem;
   }

   a {
      position: relative;
      text-decoration: none;

      &:link,
      &:visited {
         color: $color-primary;
         transition: all 0.2s;
      }

      &:hover {
         // border-bottom: 1px solid rgba($color-primary, 1);
      }
   }

   a::before {
      content: "";
      position: absolute;
      top: 2rem;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color-primary;
      transform-origin: center;
      transform: scaleX(0);
      transition: all 0.3s;
   }

   a:hover::before {
      content: "";
      position: absolute;
      top: 2rem;
      left: 0;
      height: 1px;
      transform: scaleX(1);
      background-color: $color-primary;
   }
}

//////////////////////////////////
// CART
.cart {
   padding: 0.6rem 2rem;
   height: 17rem;
   width: 28rem;
   position: absolute;
   top: 5rem;
   right: -13em;
   background-color: $color-white;
   border-radius: 0.5rem;
   box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
   z-index: 60;
   overflow: hidden;
   visibility: hidden;
   opacity: 0;
   transition: all 0.2s;

   @media only screen and (max-width: 43.75em) {
      right: -5rem;
   }

   @media only screen and (max-width: 23.4375em) {
      top: 7rem;
      right: -7.75rem;
      width: 45rem;
   }

   &__content {
      height: 100%;
      position: relative;
   }

   &__heading {
      width: 120%;
      font-size: 1.2rem;
      padding: 1.2rem 2rem;
      border-bottom: 2px solid $color-gray-blue-light;
      transform: translateX(-2rem);
   }

   &__img {
      height: 3.5rem;
      width: 3.5rem;
      border-radius: 0.5rem;
   }

   &__details {
      margin-top: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__text {
      font-size: 1.3rem;
      color: $color-dark-gray-blue;
   }

   &__desc {
      margin-bottom: 0.3rem;
   }

   &__price {
      letter-spacing: 0.05rem;
   }

   &__total {
      font-weight: 700;
      color: $color-dark-blue;
      margin-left: 0.5rem;
      letter-spacing: 0.05rem;
   }

   &__trash {
      border: none;
      cursor: pointer;
      background-color: transparent;

      &-icon {
         height: 1.3rem;
      }
   }

   &__checkout {
      font-size: 1.2rem;
      font-weight: 700;
      margin-top: 1.5rem;
      padding: 1.3rem 0;
      width: 100%;
      border: none;
      border-radius: 0.5rem;
      color: $color-white;
      background-color: $color-primary;
      cursor: pointer;
   }

   &__empty {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 20%);
      color: $color-gray-blue;
      font-weight: 700;
   }

   &__active {
      visibility: hidden;
   }
}

//////////////////////////////////
// LITEBOX
.litebox {
   height: 100vh;
   width: 100%;
   position: fixed;
   z-index: 1000;
   top: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.3s;
   visibility: hidden;
   opacity: 0;

   &__backdrop {
      height: 100%;
      width: 100%;
      background-color: $color-black;
      z-index: 1100;
      opacity: 0.75;
      transition: all 0.3s;
   }

   &__content {
      position: absolute;
      z-index: 1200;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__img--large {
      height: 60vh;
      border-radius: 1.5rem;
   }

   &__img-box {
      margin-top: 4rem;
      width: 65%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: center;
      align-content: center;
      grid-gap: 3rem;
   }

   &__img--thumb {
      height: 100%;
      width: 100%;
   }

   &__large-box {
      position: relative;
   }

   &__icon {
      position: absolute;
      cursor: pointer;

      &:hover {
         filter: invert(51%) sepia(81%) saturate(1386%) hue-rotate(347deg)
            brightness(102%) contrast(103%);
      }

      &--close {
         height: 2.1rem;
         top: -4rem;
         right: 0;
      }

      &--next {
         right: 2.2rem;
      }

      &--previous {
         left: 2.2rem;
      }

      &-holder {
         position: absolute;
         background-color: $color-white;
         padding: 3rem;
         border-radius: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         cursor: pointer;

         &:hover > img {
            filter: invert(51%) sepia(81%) saturate(1386%) hue-rotate(347deg)
               brightness(102%) contrast(103%);
         }

         &--next {
            top: 45%;
            right: -2.8rem;
         }

         &--previous {
            top: 45%;
            left: -2.8rem;
         }
      }
   }

   &__thumb-holder {
      border-radius: 1rem;
      border: 2px solid transparent;
      cursor: pointer;
      overflow: hidden;

      &:hover:not(.litebox-active) {
         background-color: $color-white;
         border: 0;
         transform: scale(0.965);
      }
   }

   &__img--thumb {
      transition: all 0.3s;

      &:hover:not(.litebox-active-img) {
         filter: opacity(0.5);
      }
   }
}

//////////////////////////////////
// UTILITIES
.filter-white {
   filter: invert(100%) sepia(3%) saturate(632%) hue-rotate(215deg)
      brightness(112%) contrast(102%);
}

.filter-gray {
   filter: invert(47%) sepia(8%) saturate(629%) hue-rotate(180deg)
      brightness(89%) contrast(87%);
}

.filter-primary {
   filter: invert(51%) sepia(81%) saturate(1386%) hue-rotate(347deg)
      brightness(102%) contrast(103%);
}

.counter-cart-wrapper {
   transform: translateY(-2rem);
   display: flex;
   justify-content: space-between;

   @media only screen and (max-width: 23.4375em) {
      flex-direction: column;
   }
}

.cart-wrapper {
   position: relative;
}

.cart-price-wrapper {
   display: flex;
}

.main-price-wrapper {
   display: grid;
   grid-template-rows: repeat(2, 1fr);

   @media only screen and (max-width: 23.4375em) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 3rem;
   }
}

.active,
.litebox-active {
   border-color: $color-primary;
}

.active-img,
.litebox-active-img {
   filter: opacity(0.35);
}

.litebox-active-figure {
   background-color: $color-white;
}

.close-backdrop {
   height: 100vh;
   width: 100vw;
   background-color: transparent;
   z-index: 5;
   position: absolute;
   top: 0;
   right: 0;
   visibility: hidden;
}
